.jumbotron {
    background-color: #E5E4E2;
}

.jumbotron .container {
	padding-top: 10%;
}

.jumbotron h1 {
	font-family: Viner Hand ITC;	
	font-size: 80px;
}

.projects .panel-body {
	text-align: center;
}

.align {
	display: inline-block;
}

@media screen and (min-width: 768px) {
	.jumbotron {
		height: 100vh;
	}
}
/*
@media (max-width: 800px) {
	#profilepicture {
		text-align: center;
		height: 800px;
		width: 1000px;
	}
}
*/