.jumbotron {
    background-color: #E5E4E2;
}

.jumbotron .container {
	padding-top: 10%;
}

.jumbotron h1 {
	font-family: Viner Hand ITC;	
	font-size: 80px;
}

.projects .panel-body {
	text-align: center;
}

.align {
	display: inline-block;
	width: 150px;
}

.linkedin {
	background-color: #006699;
}

.github {
	background-color: #462476;
}

@media screen and (min-width: 768px) {
	.jumbotron {
		height: 100vh;
	}
/*
	.SPanel {
		height: 300px;
	}*/
}

@media (max-width: 800px) {
	.jumbotron h1{
		font-family: Viner Hand ITC;
		font-size: 40px;
	}
}
